<ion-header>
  <ion-toolbar>
    <ion-title>Movies</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onSearch()">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <h1 *ngIf="movies && segment == 'popular'">Populares</h1>
  <h1 *ngIf="movies && segment == 'top'">Top</h1>
  <h1 *ngIf="movies && segment == 'upcoming'">Próximamente</h1>

  <div class="movies-flex" *ngIf="movies">
    <div class="movie" *ngFor="let movie of movies" (click)="onMovieDetail(movie.id)">
      <div class="poster">
        <img *ngIf="movie.poster_path" class="poster" [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path">
        <img *ngIf="movie.poster_path" class="poster-effect" [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path">
      </div>
      <div class="title">{{ movie.title }}</div>
      <div class="year">{{ movie.release_date | date:'yyyy' }}</div>
      <div class="vote"><ion-icon name="star"></ion-icon><b>{{ movie.vote_average }}</b>/10</div>
    </div>
  </div>
  
  <div class="content-fullscreen-message" *ngIf="movies && movies.length == 0">
    Se ha producido un error, no se han encontrado películas
  </div>

  <ion-button *ngIf="movies && movies.length > 0 && page < 5" expand="full" size="large" fill="clear" (click)="onNextPage()">Ver más</ion-button>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="tabs">
      <div class="tab" [ngClass]="{ 'active' : segment == 'popular' }" (click)="onTabSelected('popular')">
        <ion-icon name="flame"></ion-icon>
        <div class="label">Populares</div>
      </div>
      <div class="tab" [ngClass]="{ 'active' : segment == 'top' }" (click)="onTabSelected('top')">
        <ion-icon name="star"></ion-icon>
        <div class="label">Top</div>
      </div>
      <div class="tab" [ngClass]="{ 'active' : segment == 'upcoming' }" (click)="onTabSelected('upcoming')">
        <ion-icon name="calendar"></ion-icon>
        <div class="label">Próximamente</div>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>